.margen{
    border: 5px solid black;
    height: auto;
    width: auto;
    display: inline-block;
    margin: 60px;
}



h1{
    color: rgb(255, 255, 255);
    background-color:  rgb(184, 132, 22);
    font-size: 2.5em; 
}